body {
  font-family: "Montserrat-Bold", sans-serif;
  /* background-color: #1597bb; */
  background-color: rgba(21, 151, 187,0.7);

}

.container {
  /* background-color: grey; */
  text-align: center;
}

.header {
  margin: 0;
}

.formdiv {
  /* width: 35%; */
  width: 400px;
  margin: 10% auto;
  background-color: white;
  padding-bottom: 30px;
}

.formdiv input {
  margin-top: 10px;
  border-radius: 5px;
  line-height: 2;
  width: 270px;
}

.signupbtn {
  margin-top: 30px;
  width: 180px;
}

.fas {
  position: relative;
  right: 30px;
}

.fa-user-alt {
  position: relative;
  right: 160px;
  top: 17px;
  color: #fff;
}
